.start-counter{
  background-color: #61105E;
  border: 1px solid #61105E;
  border-radius: 30px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color:white;
}

.current-counter{
  background-color: #61105E;
  border: 1px solid #61105E;
  border-radius: 30px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color:white;
}
