<div class="form-content text-center">
  <%= simple_form_for([@book, @flow], remote: true, update:
    { success: "response", failure: "error"}) do |f| %>
    <p id="reportalert"></p>
    <%= f.input :oldQuantity, label: "Previous stock", input_html: {value: f.object.oldQuantity ||  @previous_quantity } %>
    <%= f.input :newQuantity, label: "New stock"%>
    <%= f.submit "Update stock", class: "calltoaction-form" %>
  <% end %>
</div>
