<%if @flow.newQuantity.nil? %>
  <div class="start-counter">
    <td ><%= @book.flows.last.newQuantity%></td>
  </div>
<%else%>
  <div class="counter">
    <td><%= @flow.newQuantity%></td>
  </div>
<%end%>
