<h3 class="text-center">Books</h3>

<div class="index-wrapper">
  <div class="tab-content">
    <table class="fixed_headers">
      <thead>
        <tr>
          <th>Isbn</th>
          <th>Book</th>
          <th>Current Stock</th>
        </tr>
      </thead>
      <% @books.each do |book|%>
      <tbody>
        <tr>
          <td> <%= link_to book_path(book) do %>
            <%= book.isbn%></td>
            <%end%>
          <td><%= book.title%></td>
          <td><%= book.flows.last.newQuantity.nil? ? 0 : book.flows.last.newQuantity %></td>
        </tr>
      </tbody>
      <%end%>
    </table>
  </div>
</div>
